@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/static/Montserrat-Regular.ttf");
}

h1 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    margin-bottom: -15px;
    text-transform: uppercase;
    color: rgb(148, 3, 3);
}
h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: -10px;
}
h3 {
    font-family: 'Montserrat';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
}

.header {
    width: 100%;
    background-color: #414141;
    height: 60px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: beige;
    transition: .3s;
}

.sidebar-container {
    position: relative;
    background-color: #FF8C00;
    width: 25%;
    float: left;
    height: 100%;
}

.photo_hero {
    margin-top: 0px;
}

.contacts_hero {
    margin-left: 30px;
    margin-top: 40px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

.summary, .skills, .code, .work, .education, .english {
    margin-bottom: 30px;
    border-bottom: 2px dotted #808080;
}

.content-container {
    width: 75%;
    float: right;
    align-items: center;
    background-color: beige;
    padding-right: 50px;
}

.right {
    padding-left: 100px;
}

.profile_descr {
    color: rgb(73, 0, 0);
    margin-bottom: 40px;
    border-bottom: 3px solid #FF8C00;
}


